@import './root/colors';
@import './root/website-fonts';
@import './root/box-shadow';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

// contact page sass //
.foto-contact img {
  margin-top: 150px;
}
.text-contact {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  .alert{
    border-radius: 10ch;

  }
  h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    display: block;
    text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.9);
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
    position: relative;
    z-index: 1;

  }
}
.p-text {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.icon-text {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.icon-contact {
  color: #0d6efd;
}

.text-contact-style{
  color: var(--dark);
  text-decoration: none;
}

.motivationtext {
  height: 125px !important;
}
.contact-section {
  margin-top: 175px;
  display: grid;
  place-content: center;
}
.icon-contact {
  font-size: 15px;
}

.contact-back {
  width: 100%;
  height: 45vh;
  background: linear-gradient(65deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(/public/img/25.jpg);
  background-position: 100%, center center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 100%, cover;
  animation: items-bewegen 2s ease-out;
}

.text-contact-back{
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: center;

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    display: block;
    margin: 0;
    font-size: 50px;
    text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.9);
    text-align: center;
    animation: text-style 2s ease-out;

  }
}

@keyframes items-bewegen{
  0%, 100%{
      transform: scale(0.1);
  }
  100%{
      transform: scale(1.0);
  }
}

@keyframes text-style{
  0%, 70%{
      -webkit-text-stroke: 2rem rgb(46, 43, 43);
  }
  100%{
      -webkit-text-stroke: unset;
  }
}

