//footer
.titel_text{
    h3{
        font-family: 'Days One', sans-serif;
        color: rgb(255, 255, 255);
        text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.9);
        font-size: 30px;
    }
}
.linken_site{
    a{
        font-size: 16px;
        font-family: 'Days One', sans-serif;
    }
}
.fab{
    font-size: 16px;
    }
.copyright{
    font-size: 15px;
    a{
        font-family: 'Days One', sans-serif;
    }
}
//einde footer //