@import url("./main.scss");
@import url("./root/_colors.scss");
@import url("./root/_box-shadow.scss");
@import './root/box-shadow';
@import url('./root/_website-fonts.scss');


body {
  background: var(--white);
  color: var(--hover-bg);
}





section {
  margin: 3rem 15%;
}

.card-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 2rem;
  gap: 5rem;
  margin: -150px 0;
  animation: items-bewegen 2s ease-out;
  color: var(--white);
  .first-card,
  .second-card,
  .third-card {
    background: var(--hover-bg);
    font-size: 1.5rem;
    border-radius: 10px;
    text-align: center;
    padding: 2rem 3rem;
    box-shadow: 1px 1px 1px 1px --ligh-blue(69, 193, 228);
    i {
      font-size: 3rem;
    }
    p{
      font-family: 'Roboto', sans-serif;
      font-size: 16px;

    }
    h1{
      font-size: 20px;
      font-family: 'Days One', sans-serif;


    }
  }
  .second-card {
    animation: items-bewegen 2.5s ease-out;
  }
}

#controller-carousel{
  margin: 10rem auto;
}

#carouselExampleFade{
  margin: 5rem 0;
  background-color: red;
}

#carouselExampleCaptions {
  width: 100%;
  border-radius: 5px;
  margin: 5rem auto;
  box-shadow: --ligh-blue(3, 102, 214, 0.3) 0px 0px 0px 3px;
}


.how-working {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  .titel_hoe_werkt_het{
    display: block;
    background-color: var(--hover-bg);
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    h1{
    color: var(--white);
    font-size: 2.5rem;
    font-size: 30px;
    font-family: 'Days One', sans-serif;

    }
  }
  
  .language__working li {
    list-style:circle;
    line-height: 10rem;
    font-family: 'Roboto', sans-serif;

  }
  .language__working li a{
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;

  }
  &:active,
  &:hover {
    animation: 2s dichtklappen ease-in-out;
  }

  .container-card__working {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 5rem 2rem;
    width: 100%;
    i {
      font-size: 3rem;
    }

    #alert {
      font-size: calc(3rem / 2);
    }


    .first-card__working,
    .second-card__working,
    .third-card__working,
    .four-card__working {
      display: grid;
      height: 100%;
      gap: 3rem;
      text-align: center;
      padding: 1rem;
      font-size: 1.5rem;
      border: 2px solid var(--hover-bg);
      &:hover{
        background-color: var(--hover-bg);
        color: var(--white);
      }
      li {
        font-size: 16px;
        margin-top: 10px;
        font-family: 'Roboto', sans-serif;
      }
      p{
        font-size: 16px;
        font-family: 'Roboto', sans-serif;

      }
    }
  }
}

.container__onze-diensten {
  text-align: center;
  position: relative;

  .onze_diensten{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }

  .titel_onze_diensten{
    display: block;
    background-color: var(--hover-bg);
    width: 20%;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
    h1{
    color: var(--white);
    font-size: 2.5rem;
    font-size: 30px;
    font-family: 'Days One', sans-serif;

    }
  }
  button {
    padding: 0.5rem 9%;
    background-color: var(--white);
    color: var(--donker-mode-bg);
    opacity: 0;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-family: 'Days One', sans-serif;


  }
  img {
    width: 20rem;
    border-radius: 50%;
    border: 1px solid var(--donker-blue);
    background-position: center;
    object-fit: contain;
  }
  p {
    margin: 3rem 0;
    font-size: 2rem;
    font-family: 'Days One', sans-serif;


  }
  .cards__onze-diensten {
    margin: 10rem 0;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    .first-crad__onze-diensten,
    .second-crad__onze-diensten,
    .four-crad__onze-diensten,
    .five-crad__onze-diensten,
    .acht-crad__onze-diensten {
      border-right: 2px solid var(--donker-blue);
      display: grid;
      gap: 3rem;
      place-items: center;
    }
    .acht-crad__onze-diensten{
      border-left: 2px solid var(--donker-blue);
    }

    .six-crad__onze-diensten {
      display: grid;
      gap: 3rem;
      place-items: center;
    }

    .four-crad__onze-diensten,
    .five-crad__onze-diensten,
    .six-crad__onze-diensten, .acht-crad__onze-diensten {
      margin-top: 10rem;
    }
    .third-crad__onze-diensten {
      display: grid;
      gap: 5rem;
      place-items: center;
    }
    .first-crad__onze-diensten:hover,
    .second-crad__onze-diensten:hover,
    .third-crad__onze-diensten:hover,
    .four-crad__onze-diensten:hover,
    .five-crad__onze-diensten:hover,
    .six-crad__onze-diensten:hover,
    .acht-crad__onze-diensten:hover {
      background-color: var(--hover-bg);
      color: var(--donker-blue);
      transition: 1s ease-out;
      border-right: 2px solid var(--white);
      img {
        border-radius: 10%;
      }
      button {
        opacity: 1;
      }
    }
  }
}
@keyframes color-mix{
  0%{
    width: 10%;
    background-color: var(--ligh-blue);
  }
  25%{
    width: 20%;
    background-color: rgba(0,0,0,0.2);
  }
  50%{
    width: 30%;
    background-color: rgba(0,0,0,0.5);
  }
  75%{
    width: 40%;
    background-color: rgba(0,0,0,0.7);
  }
  100%{
    width: 50%;
    background-color: var(--ligh-blue);
  }
}



.hidden{
  display: none;
}




.contact-opnemen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
  background-color: var(--donker-blue);
  color: var(--white);
  position: relative;
  border-radius: 2rem;
  .container__contact-opnemen {
    display: block;
    button {
      text-align: center;
      padding: 2rem 12%;
      font-size: 1.5rem;
      margin: 1rem;
      position: relative;
      border-radius: 2rem;
      &:hover {
        background: var(--hover-bg);
        color: var(--donker-blue);
        i {
          transform: translateY(-1.5rem);
          transition: ease-out 0.3s;
        }
      }
      i {
        font-size: 2.5rem;
        margin-left: 1;
        position: absolute;
        top: 40%;
        right: 3rem;
      }
    }
  }
}

// media query

@media (max-width: 450px) {
  html{
    font-size: 55%;
  }
  .onze-diensten .container__onze-diensten .onze_diensten .titel_onze_diensten{
    width: 100%;
  }
  .my-cards .card-container .third-card{
    width: 100%;
  }
  .onze-diensten .container__onze-diensten .cards__onze-diensten {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    button {
      opacity: 1;
    }
    .zeven-crad__onze-diensten{
      display: none;
    }
    .first-crad__onze-diensten,
    .second-crad__onze-diensten,
    .four-crad__onze-diensten,
    .five-crad__onze-diensten,
    .acht-crad__onze-diensten {
      border: unset;
    }

    .third-crad__onze-diensten {
      margin-top: 12rem;
    }
  }

  .container-home .text h1 {
    font-size: 6rem;
  }
  .my-cards .card-container {
    font-size: 3rem;
    margin: -20rem 0;
  }
  .text {
    text-align: center;
  }

  .carousel__home {
    margin-top: 30rem;
  }

  #controller-carousel{
    margin-top: 30rem;
  }
}

@media (max-width: 768px) {
  .onze-diensten .container__onze-diensten .cards__onze-diensten {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    button {
      opacity: 1;
    }

    .third-crad__onze-diensten,.four-crad__onze-diensten{
        margin: 3rem 0 0 0;
    }
    .zeven-crad__onze-diensten{
      display: none;
    }

    .first-crad__onze-diensten,
    .second-crad__onze-diensten,
    .four-crad__onze-diensten,
    .five-crad__onze-diensten,
    .acht-crad__onze-diensten {
      border: unset;
    }
  }

  .how-working {
    font-size: 2.5rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .how-working .container-card__working {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin-top: -50px;
    font-size: 3rem;
  }

  .how-working {
    margin-top: 20rem;
  }

  .carousel__home {
    margin-top: 30rem;
  }
}
