@import url("../css/main.scss");
@import url("./root/_colors.scss");
@import url("../scss/root/_box-shadow.scss");

.container-home {
  width: 100%;
  min-height: 50vh;
  position: relative;
  display: grid;
  place-items: center;
  margin: 0.3rem 0;
  animation: items-bewegen 2s ease-out;

  .image {
    background-image: url("../img/over\ ons.jpg");
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 2px;
  }
  .text {
    position: absolute;

    h1 {
      font-family: Arial, Helvetica, sans-serif;
      color: var(--white);
      display: block;
      margin: 0;
      font-size: 50px;
      text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.9);
      animation: text-style 2s ease-out;
      padding: 170px 0;
      text-align: center;
    }
  }
}

@keyframes items-bewegen {
  0%,
  100% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes text-style {
  0%,
  70% {
    -webkit-text-stroke: 2rem rgb(46, 43, 43);
  }
  100% {
    -webkit-text-stroke: unset;
  }
}

.over-ons__header {
  position: relative;
  padding: 3rem 9%;
  height: 120vh;
  width: 100%;
  .over-ons__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: start;
    .first-card {
      padding: 2rem;
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10rem;
      .image__over-ons {
        width: 100%;
        height: 25rem;
        img {
          width: 100%;
          max-height: 100%;
          object-fit: cover;
          border-radius: 5rem;
          -webkit-box-shadow: 0px 21px 14px 4px rgba(0, 0, 0, 0.62);
          -moz-box-shadow: 0px 21px 14px 4px rgba(0, 0, 0, 0.62);
          box-shadow: 0px 12px 14px 4px rgba(0, 0, 0, 0.62);
        }
      }
      .line {
        height: 100%;
        position: relative;
        width: 1rem;
        background-color: var(--ligh-blue);
        margin: auto;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -1rem;
          width: 3rem;
          background: var(--dark);
          height: 1rem;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -4rem;
          left: 0rem;
          width: 1rem;
          background: var(--ligh-blue);
          height: 5rem;
        }
        .point-1 {
          position: absolute;
          top: 30%;
          left: -1rem;
          width: 3.3rem;
          height: 3.3rem;
          border-radius: 50%;
          background: green;
          cursor: pointer;
          &:hover::before {
            content: "Introduction";
            position: absolute;
            left: -5rem;
            top: -3rem;
            font-size: 1.5rem;
            background: var(--donker-blue);
            color: var(--white);
            padding: 1rem;
            -webkit-clip-path: polygon(
              0% 0%,
              100% 0%,
              100% 75%,
              75% 75%,
              75% 100%,
              50% 75%,
              0% 75%
            );
            clip-path: polygon(
              0% 0%,
              100% 0%,
              100% 75%,
              75% 75%,
              75% 100%,
              50% 75%,
              0% 75%
            );
          }
        }
      }
      .txt-content__over-ons {
        font-size: 2rem;
        .alert{
          border-radius: 10ch;
        }
        h1 {
          font-family: Arial, Helvetica, sans-serif;
          color: rgb(255, 255, 255);
          display: block;
          text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.9);
          font-size: 30px;
          text-align: center;
          font-weight: bolder;
          position: relative;
          z-index: 1;
        }
      }
    }
    .second-card {
      padding: 2rem;
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      .image__over-ons {
        width: 100%;
        height: 25rem;
        img {
          width: 100%;
          max-height: 100%;
          object-fit: cover;
          border-radius: 5rem;
          -webkit-box-shadow: 0px 21px 14px 4px rgba(0, 0, 0, 0.62);
          -moz-box-shadow: 0px 21px 14px 4px rgba(0, 0, 0, 0.62);
          box-shadow: 0px 12px 14px 4px rgba(0, 0, 0, 0.62);
        }
      }
      .line {
        height: 100%;
        position: relative;
        width: 1rem;
        background-color: var(--ligh-blue);
        margin: auto;
        &::after {
          content: "";
          position: absolute;
          bottom: -2rem;
          left: 0rem;
          width: 1rem;
          background: var(--ligh-blue);
          height: 3rem;
        }
        .point-2 {
          position: absolute;
          top: 30%;
          left: -1rem;
          width: 3.3rem;
          height: 3.3rem;
          border-radius: 50%;
          background: green;
          cursor: pointer;
          &:hover::before {
            content: "content";
            position: absolute;
            right: -5rem;
            top: -3rem;
            font-size: 1.5rem;
            background: var(--donker-blue);
            color: var(--white);
            padding: 1rem;
            -webkit-clip-path: polygon(
              0% 0%,
              100% 0%,
              100% 75%,
              75% 75%,
              75% 100%,
              50% 75%,
              0% 75%
            );
            clip-path: polygon(
              0% 0%,
              100% 0%,
              100% 75%,
              75% 75%,
              75% 100%,
              50% 75%,
              0% 75%
            );
          }
        }
      }
      .txt-content__over-ons {
        font-size: 2rem;
        .alert{
          border-radius: 10ch;
        }
        h1 {
          font-family: Arial, Helvetica, sans-serif;
          color: rgb(255, 255, 255);
          display: block;
          text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.9);
          font-size: 30px;
          text-align: center;
          font-weight: bolder;
          position: relative;
          z-index: 1;
        }
      }
    }
    .third-card {
      padding: 2rem;
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-columns: 1fr 1fr 1fr;
      .image__over-ons {
        width: 100%;
        height: 25rem;
        img {
          width: 100%;
          max-height: 100%;
          object-fit: cover;
          border-radius: 5rem;
          -webkit-box-shadow: 0px 21px 14px 4px rgba(0, 0, 0, 0.62);
          -moz-box-shadow: 0px 21px 14px 4px rgba(0, 0, 0, 0.62);
          box-shadow: 0px 12px 14px 4px rgba(0, 0, 0, 0.62);
        }
      }
      .line {
        height: 100%;
        position: relative;
        width: 1rem;
        background-color: var(--ligh-blue);
        margin: auto;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: -1rem;
          width: 3rem;
          background: var(--dark);
          height: 1rem;
        }
        &::after {
          content: "";
          position: absolute;
          top: -4rem;
          left: 0rem;
          width: 1rem;
          background: var(--ligh-blue);
          height: 5rem;
        }
        .point-3 {
          position: absolute;
          top: 30%;
          left: -1rem;
          width: 3.3rem;
          height: 3.3rem;
          border-radius: 50%;
          background: green;
          cursor: pointer;
          &:hover::before {
            content: "Slot";
            position: absolute;
            left: -5rem;
            top: -3rem;
            font-size: 1.5rem;
            background: var(--donker-blue);
            color: var(--white);
            padding: 1rem;
            -webkit-clip-path: polygon(
              0% 0%,
              100% 0%,
              100% 75%,
              75% 75%,
              75% 100%,
              50% 75%,
              0% 75%
            );
            clip-path: polygon(
              0% 0%,
              100% 0%,
              100% 75%,
              75% 75%,
              75% 100%,
              50% 75%,
              0% 75%
            );
          }
        }
      }
      .txt-content__over-ons {
        font-size: 2rem;
        h1 {
          text-align: center;
        }
      }
    }
  }
}

.whatsapp-active {
  background-color: var(--hover-text);
}

@keyframes points {
  0%,
  100% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.web-programming {
  position: relative;
  h1 {
    text-align: center;
  }
  .web-programmering__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    margin: 5rem 10rem;
    text-align: center;
    gap: 15rem;
    background-image: url("../img/github.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .first-programmateur,
    .second-programmateur {
      .foto {
        width: 8rem;
        height: 8rem;
        object-fit: fill;
        position: absolute;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      button {
        padding: 1rem 9%;
        border-radius: 9%;
        font-size: 1.3rem;
        cursor: pointer;
        &:hover {
          background-color: var(--donker-blue);
          color: var(--white);
        }
      }
      .content {
        max-width: 80%;
        margin-left: 7.5rem;
        padding: 1rem 2rem;
        text-align: center;
        font-size: 1.5rem;
        p {
          text-transform: none;
        }
      }
      background-color: var(--hover-bg);
      color: var(--white);
      padding: 3rem;
      position: relative;
      border-radius: 10px;
      &::before {
        content: "";
        background-color: aqua;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        border: 2px solid var(--donker-mode-bg);
      }
      &::after {
        content: "";
        background-color: aqua;
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        border: 2px solid var(--donker-mode-bg);
      }
    }
  }
}

.review {
  .cls_review{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  }
  .alert{
    border-radius: 10ch;
  }
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    display: block;
    text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.9);
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    position: relative;
    z-index: 1;
  }
  .container-review {
    background: var(--hover-bg);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    position: relative;
    overflow: hidden;
    .first-comment,
    .second-comment,
    .third-comment {
      background: var(--donker-blue);
      padding: 2rem;
      border-radius: 10px;
      width: 50%;
      margin: 0 auto;
      animation: 10s moveright ease-out infinite;
      .basic-information {
        margin: 0 3rem;
        line-height: 1rem;
      }
      .header__comment {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
      }
      .content {
        text-align: center;
        width: 80%;
        margin: 3rem auto;
        font-size: 1.5rem;
        p {
          text-transform: none;
        }
      }
      span {
        text-transform: none;
      }
    }
    .second-comment {
      position: absolute;
      left: 100%;
    }
    .third-comment {
      position: absolute;
      left: 165%;
    }
  }
}

@keyframes moveright {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(calc(-250% / 4));
  }
  50% {
    transform: translateX(calc(-250% / 2));
  }
  50% {
    transform: translateX(calc(-250% / 3));
  }
  100% {
    transform: translateX(-250%);
  }
}

@media (max-width: 450px) {
  html {
    font-size: 35%;
  }
  .over-ons__header .over-ons__container{
    .line{
      display: none;
    }

    .first-card, .second-card, .third-card{
      grid-template-columns: 1fr 2fr;
      .txt-content__over-ons{
        width: 100%;
        font-size: 1.5rem;
      }
    }

    .first-card .image__over-ons{
      width: 100%;
    }
  }
  .web-programming .web-programmering__container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
  .over-ons__container {
    .line__container {
      display: none;
    }
    .over-ons__cards {
      img {
        width: 90%;
      }
    }
  }
  .web-programming .web-programmering__container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@keyframes items-bewegen{

  0%, 100%{

      transform: scale(0.1);

  }

  100%{

      transform: scale(1.0);

  }

}


@keyframes items-bewegen{

  0%, 100%{

      transform: scale(0.1);

  }

  100%{

      transform: scale(1.0);

  }

}

