@import './root/colors';
@import './root/website-fonts';
@import './root/box-shadow';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

// whatsapp icon styling
.wahtsapp-container-mobile-device{
    position:fixed;
    z-index: 1000;
    bottom: 5rem;
    right: 2rem;
    background-color: var(--hover-bg);
    width: 50px;
    min-height: 30px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    display: none;
    a{
        color: var(--white);
        text-decoration: none;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    i{
        font-size: 4rem;
        color: var(--white);
    }
}
.wahtsapp-container{
    position:fixed;
    z-index: 1000;
    bottom: 5rem;
    right: 2rem;
    background-color: var(--hover-bg);
    width: 50px;
    min-height: 30px;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
    a{
        color: var(--white);
        text-decoration: none;
    }
   
    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:hover{
        width: 150px;
        display: inline-flex;
        justify-content: start;
        transition: .7s ease-out;
        span{
            margin: 0 20px;
            display: block;
            font-size: 1.5rem;
        }
        i{
            transform: rotate(120deg);
            transition: ease-in-out .6s;
        }
        a{
            color: var(--white);
            text-decoration: none;
        }
       
    }
    i{
        font-size: 30px;
    }
    span{
        display: none;
    }
  }
  
  .whatsapp-active{
    background-color: var(--hover-text);
  }
  
  // end whatsapp icon styling

  @media (max-width: 450px){
    .wahtsapp-container{
        display: none;
    }
    .wahtsapp-container-mobile-device{
        display: block;
    }
  }