:root{
    --white: #f4fbfd;
    --ligh-blue: #6083d1;
    --donker-blue: #012641;
    --hover-bg: #3175D3;
    --hover-text: #000;
    --guid:#cc9933;
    --grijs:#999999;


    --donker-mode-bg: #111111;
    --donker-mode-color: #fff;
    --cards-background-color: #2F2F2F;
}