@import url("https://fonts.googleapis.com/css2?family=Cambay:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
:root {
  --white: #f4fbfd;
  --ligh-blue: #6083d1;
  --donker-blue: #012641;
  --hover-bg: #3175D3;
  --hover-text: #000;
  --guid:#cc9933;
  --grijs:#999999;
  --donker-mode-bg: #111111;
  --donker-mode-color: #fff;
  --cards-background-color: #2F2F2F;
}

.text-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.text-contact .titel_neem_contact_op {
  display: block;
  background-color: var(--hover-bg);
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}
.text-contact .titel_neem_contact_op h1 {
  color: var(--white);
  font-size: 2.5rem;
  font-size: 30px;
  font-family: "Days One", sans-serif;
}

.p-text {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.icon-text {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.icon-text a {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.icon-contact {
  color: #0d6efd;
  font-family: "Days One", sans-serif;
  font-weight: bolder;
}

.text-contact-style {
  color: var(--dark);
  text-decoration: none;
}

.motivationtext {
  height: 125px !important;
}

.contact-section {
  margin-top: 50px;
  display: grid;
  place-content: center;
}
.contact-section button {
  font-family: "Days One", sans-serif;
}

.icon-contact {
  font-size: 15px;
}

@keyframes left-effect {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.desktop-map {
  padding: 1.5rem;
  background-color: var(--hover-bg);
  border-radius: 10px;
  -webkit-box-shadow: 0px 21px 14px 4px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 0px 21px 14px 4px rgba(0, 0, 0, 0.62);
  box-shadow: 0px 12px 14px 4px rgba(0, 0, 0, 0.62);
  display: none;
  animation: left-effect 2s ease-out;
}

.desktop-map .mapouter {
  position: relative;
  text-align: right;
  height: 632px;
  width: 1080px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.desktop-map .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 632px;
  width: 1080px;
}

.mobile-map .mapouter {
  position: relative;
  text-align: right;
  height: 151px;
  width: 335px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  display: none;
}

.mobile-map .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 151px;
  width: 335px;
}

.ipad-map .mapouter {
  position: relative;
  text-align: right;
  height: 597px;
  width: 534px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  display: none;
}

.ipad-map .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 597px;
  width: 534px;
}

@media (max-width: 992px) {
  .desktop-map .mapouter {
    display: none;
  }

  .mobile-map {
    padding: 5rem 0;
  }

  .ipad-map .mapouter {
    display: none;
  }

  .mobile-map .mapouter {
    display: block;
  }
}

/*# sourceMappingURL=contact.css.map */
