@import url("./main.scss");
@import url("./root/_colors.scss");
@import url("./root/_box-shadow.scss");
@import url("./root/_website-fonts.scss");
body {
  background: var(--white);
  color: var(--hover-bg);
}

section {
  margin: 3rem 15%;
}

.card-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 2rem;
  gap: 5rem;
  margin: -150px 0;
  animation: items-bewegen 2s ease-out;
  color: var(--white);
}
.card-container .first-card,
.card-container .second-card,
.card-container .third-card {
  background: var(--hover-bg);
  font-size: 1.5rem;
  border-radius: 10px;
  text-align: center;
  padding: 2rem 3rem;
  box-shadow: 1px 1px 1px 1px --ligh-blue(69, 193, 228);
}
.card-container .first-card i,
.card-container .second-card i,
.card-container .third-card i {
  font-size: 3rem;
}
.card-container .first-card p,
.card-container .second-card p,
.card-container .third-card p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.card-container .first-card h1,
.card-container .second-card h1,
.card-container .third-card h1 {
  font-size: 20px;
  font-family: "Days One", sans-serif;
}
.card-container .second-card {
  animation: items-bewegen 2.5s ease-out;
}

#carouselExampleCaptions {
  width: 100%;
  border-radius: 5px;
  margin: 5rem auto;
  box-shadow: --ligh-blue(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

#controller-carousel {
  margin: 10rem auto;
}

#carouselExampleFade {
  margin: 5rem 0;
  background-color: red;
}

.how-working {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.how-working .titel_hoe_werkt_het {
  display: block;
  background-color: var(--hover-bg);
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}
.how-working .titel_hoe_werkt_het h1 {
  color: var(--white);
  font-size: 2.5rem;
  font-size: 30px;
  font-family: "Days One", sans-serif;
}
.how-working .container-card__working {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 5rem 2rem;
  width: 100%;
}
.how-working .container-card__working i {
  font-size: 3rem;
}
.how-working .container-card__working #alert {
  font-size: 1.5rem;
}
.how-working .container-card__working .first-card__working,
.how-working .container-card__working .second-card__working,
.how-working .container-card__working .third-card__working,
.how-working .container-card__working .four-card__working {
  display: grid;
  height: 100%;
  gap: 3rem;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  border: 2px solid var(--hover-bg);
}
.how-working .container-card__working .first-card__working:hover,
.how-working .container-card__working .second-card__working:hover,
.how-working .container-card__working .third-card__working:hover,
.how-working .container-card__working .four-card__working:hover {
  background-color: var(--hover-bg);
  color: var(--white);
}
.how-working .container-card__working .first-card__working li,
.how-working .container-card__working .second-card__working li,
.how-working .container-card__working .third-card__working li,
.how-working .container-card__working .four-card__working li {
  font-size: 16px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}
.how-working .container-card__working .first-card__working p,
.how-working .container-card__working .second-card__working p,
.how-working .container-card__working .third-card__working p,
.how-working .container-card__working .four-card__working p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.container__onze-diensten {
  text-align: center;
  position: relative;
}
.container__onze-diensten .onze_diensten {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.container__onze-diensten .titel_onze_diensten {
  display: block;
  background-color: var(--hover-bg);
  width: 20%;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
}
.container__onze-diensten .titel_onze_diensten h1 {
  color: var(--white);
  font-size: 2.5rem;
  font-size: 30px;
  font-family: "Days One", sans-serif;
}
.container__onze-diensten button {
  padding: 0.5rem 9%;
  background-color: var(--white);
  color: var(--donker-mode-bg);
  opacity: 0;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-family: "Days One", sans-serif;
}
.container__onze-diensten img {
  width: 20rem;
  border-radius: 50%;
  border: 1px solid var(--donker-blue);
  background-position: center;
  object-fit: contain;
}
.container__onze-diensten p {
  margin: 3rem 0;
  font-size: 2rem;
  font-family: "Days One", sans-serif;
}
.container__onze-diensten .cards__onze-diensten {
  margin: 10rem 0;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
}
.container__onze-diensten .cards__onze-diensten .first-crad__onze-diensten,
.container__onze-diensten .cards__onze-diensten .second-crad__onze-diensten,
.container__onze-diensten .cards__onze-diensten .four-crad__onze-diensten,
.container__onze-diensten .cards__onze-diensten .five-crad__onze-diensten,
.container__onze-diensten .cards__onze-diensten .acht-crad__onze-diensten {
  border-right: 2px solid var(--donker-blue);
  display: grid;
  gap: 3rem;
  place-items: center;
}
.container__onze-diensten .cards__onze-diensten .acht-crad__onze-diensten {
  border-left: 2px solid var(--donker-blue);
}
.container__onze-diensten .cards__onze-diensten .six-crad__onze-diensten {
  display: grid;
  gap: 3rem;
  place-items: center;
}
.container__onze-diensten .cards__onze-diensten .four-crad__onze-diensten,
.container__onze-diensten .cards__onze-diensten .five-crad__onze-diensten,
.container__onze-diensten .cards__onze-diensten .six-crad__onze-diensten, .container__onze-diensten .cards__onze-diensten .acht-crad__onze-diensten {
  margin-top: 10rem;
}
.container__onze-diensten .cards__onze-diensten .third-crad__onze-diensten {
  display: grid;
  gap: 5rem;
  place-items: center;
}
.container__onze-diensten .cards__onze-diensten .first-crad__onze-diensten:hover,
.container__onze-diensten .cards__onze-diensten .second-crad__onze-diensten:hover,
.container__onze-diensten .cards__onze-diensten .third-crad__onze-diensten:hover,
.container__onze-diensten .cards__onze-diensten .four-crad__onze-diensten:hover,
.container__onze-diensten .cards__onze-diensten .five-crad__onze-diensten:hover,
.container__onze-diensten .cards__onze-diensten .six-crad__onze-diensten:hover,
.container__onze-diensten .cards__onze-diensten .acht-crad__onze-diensten:hover {
  background-color: var(--hover-bg);
  color: var(--donker-blue);
  transition: 1s ease-out;
  border-right: 2px solid var(--white);
}
.container__onze-diensten .cards__onze-diensten .first-crad__onze-diensten:hover img,
.container__onze-diensten .cards__onze-diensten .second-crad__onze-diensten:hover img,
.container__onze-diensten .cards__onze-diensten .third-crad__onze-diensten:hover img,
.container__onze-diensten .cards__onze-diensten .four-crad__onze-diensten:hover img,
.container__onze-diensten .cards__onze-diensten .five-crad__onze-diensten:hover img,
.container__onze-diensten .cards__onze-diensten .six-crad__onze-diensten:hover img,
.container__onze-diensten .cards__onze-diensten .acht-crad__onze-diensten:hover img {
  border-radius: 10%;
}
.container__onze-diensten .cards__onze-diensten .first-crad__onze-diensten:hover button,
.container__onze-diensten .cards__onze-diensten .second-crad__onze-diensten:hover button,
.container__onze-diensten .cards__onze-diensten .third-crad__onze-diensten:hover button,
.container__onze-diensten .cards__onze-diensten .four-crad__onze-diensten:hover button,
.container__onze-diensten .cards__onze-diensten .five-crad__onze-diensten:hover button,
.container__onze-diensten .cards__onze-diensten .six-crad__onze-diensten:hover button,
.container__onze-diensten .cards__onze-diensten .acht-crad__onze-diensten:hover button {
  opacity: 1;
}

@keyframes color-mix {
  0% {
    width: 10%;
    background-color: var(--ligh-blue);
  }
  25% {
    width: 20%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  50% {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  75% {
    width: 40%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  100% {
    width: 50%;
    background-color: var(--ligh-blue);
  }
}
.hidden {
  display: none;
}

.contact-opnemen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
  background-color: var(--donker-blue);
  color: var(--white);
  position: relative;
  border-radius: 2rem;
}
.contact-opnemen .container__contact-opnemen {
  display: block;
}
.contact-opnemen .container__contact-opnemen button {
  text-align: center;
  padding: 2rem 12%;
  font-size: 1.5rem;
  margin: 1rem;
  position: relative;
  border-radius: 2rem;
}
.contact-opnemen .container__contact-opnemen button:hover {
  background: var(--hover-bg);
  color: var(--donker-blue);
}
.contact-opnemen .container__contact-opnemen button:hover i {
  transform: translateY(-1.5rem);
  transition: ease-out 0.3s;
}
.contact-opnemen .container__contact-opnemen button i {
  font-size: 2.5rem;
  margin-left: 1;
  position: absolute;
  top: 40%;
  right: 3rem;
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .onze-diensten .container__onze-diensten .onze_diensten .titel_onze_diensten {
    width: 100%;
  }

  .my-cards .card-container .third-card {
    width: 100%;
  }

  .onze-diensten .container__onze-diensten .cards__onze-diensten {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }
  .onze-diensten .container__onze-diensten .cards__onze-diensten button {
    opacity: 1;
  }
  .onze-diensten .container__onze-diensten .cards__onze-diensten .zeven-crad__onze-diensten {
    display: none;
  }
  .onze-diensten .container__onze-diensten .cards__onze-diensten .first-crad__onze-diensten,
.onze-diensten .container__onze-diensten .cards__onze-diensten .second-crad__onze-diensten,
.onze-diensten .container__onze-diensten .cards__onze-diensten .four-crad__onze-diensten,
.onze-diensten .container__onze-diensten .cards__onze-diensten .five-crad__onze-diensten,
.onze-diensten .container__onze-diensten .cards__onze-diensten .acht-crad__onze-diensten {
    border: unset;
  }
  .onze-diensten .container__onze-diensten .cards__onze-diensten .third-crad__onze-diensten {
    margin-top: 12rem;
  }

  .container-home .text h1 {
    font-size: 6rem;
  }

  .my-cards .card-container {
    font-size: 3rem;
    margin: -20rem 0;
  }

  .text {
    text-align: center;
  }

  .carousel__home {
    margin-top: 30rem;
  }

  #controller-carousel {
    margin-top: 30rem;
  }
}
@media (max-width: 768px) {
  .onze-diensten .container__onze-diensten .cards__onze-diensten {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }
  .onze-diensten .container__onze-diensten .cards__onze-diensten button {
    opacity: 1;
  }
  .onze-diensten .container__onze-diensten .cards__onze-diensten .third-crad__onze-diensten, .onze-diensten .container__onze-diensten .cards__onze-diensten .four-crad__onze-diensten {
    margin: 3rem 0 0 0;
  }
  .onze-diensten .container__onze-diensten .cards__onze-diensten .zeven-crad__onze-diensten {
    display: none;
  }
  .onze-diensten .container__onze-diensten .cards__onze-diensten .first-crad__onze-diensten,
.onze-diensten .container__onze-diensten .cards__onze-diensten .second-crad__onze-diensten,
.onze-diensten .container__onze-diensten .cards__onze-diensten .four-crad__onze-diensten,
.onze-diensten .container__onze-diensten .cards__onze-diensten .five-crad__onze-diensten,
.onze-diensten .container__onze-diensten .cards__onze-diensten .acht-crad__onze-diensten {
    border: unset;
  }

  .how-working {
    font-size: 2.5rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .how-working .container-card__working {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin-top: -50px;
    font-size: 3rem;
  }

  .how-working {
    margin-top: 20rem;
  }

  .carousel__home {
    margin-top: 30rem;
  }
}

/*# sourceMappingURL=home.css.map */
