@import url("../css/main.scss");
@import url("./root/_colors.scss");
@import url("../scss/root/_box-shadow.scss");
.container-home {
  width: 100%;
  min-height: 50vh;
  position: relative;
  display: grid;
  place-items: center;
  margin: 0;
  animation: items-bewegen 2s ease-out;
}
.container-home .image {
  background-image: url("../img/over ons.jpg");
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 2px;
}
.container-home .text {
  position: absolute;
}
.container-home .text h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
  display: block;
  margin: 0;
  font-size: 50px;
  text-shadow: 4px 3px 0 rgba(0, 0, 0, 0.9);
  animation: text-style 2s ease-out;
  padding: 170px 0;
  text-align: center;
  font-family: "Days One", sans-serif;
}

@keyframes items-bewegen {
  0%, 100% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes text-style {
  0%, 70% {
    -webkit-text-stroke: 2rem #2e2b2b;
  }
  100% {
    -webkit-text-stroke: unset;
  }
}
.over-ons__onze-bedrijf {
  padding: 3rem 9%;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.over-ons__onze-bedrijf .container__onze-bedrijf {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
.over-ons__onze-bedrijf .container__onze-bedrijf .line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 10px;
  height: 100%;
  background-color: var(--white);
}
.over-ons__onze-bedrijf .container__onze-bedrijf .line .points {
  position: relative;
}
.over-ons__onze-bedrijf .container__onze-bedrijf .line .points .point1 {
  position: absolute;
  top: 10rem;
  left: -1rem;
  background-color: var(--hover-bg);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.over-ons__onze-bedrijf .container__onze-bedrijf .line .points .point1:hover::before {
  content: "wat doen we?";
  background-color: var(--hover-bg);
  color: var(--white);
  position: absolute;
  top: 0;
  left: 15rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
}
.over-ons__onze-bedrijf .container__onze-bedrijf .line .points .point2 {
  position: absolute;
  top: 50rem;
  left: -1rem;
  background-color: var(--hover-bg);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.over-ons__onze-bedrijf .container__onze-bedrijf .line .points .point2:hover::before {
  content: "wat doen we?";
  background-color: var(--hover-bg);
  color: var(--white);
  position: absolute;
  top: 0;
  left: -15rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
}
.over-ons__onze-bedrijf .container__onze-bedrijf .line .points .point3 {
  position: absolute;
  top: 90rem;
  left: -1rem;
  background-color: var(--hover-bg);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.over-ons__onze-bedrijf .container__onze-bedrijf .line .points .point3:hover::before {
  content: "Overons";
  background-color: var(--hover-bg);
  color: var(--white);
  position: absolute;
  top: 0;
  right: -15rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
}
.over-ons__onze-bedrijf .container__onze-bedrijf .first-card__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .second-card__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .third-card__onze-bedrijf {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50rem;
  width: 100%;
  height: 100%;
}
.over-ons__onze-bedrijf .container__onze-bedrijf .first-card__onze-bedrijf .image__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .second-card__onze-bedrijf .image__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .third-card__onze-bedrijf .image__onze-bedrijf {
  width: 100%;
  height: 75%;
  margin: auto;
}
.over-ons__onze-bedrijf .container__onze-bedrijf .first-card__onze-bedrijf .image__onze-bedrijf img, .over-ons__onze-bedrijf .container__onze-bedrijf .second-card__onze-bedrijf .image__onze-bedrijf img, .over-ons__onze-bedrijf .container__onze-bedrijf .third-card__onze-bedrijf .image__onze-bedrijf img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.over-ons__onze-bedrijf .container__onze-bedrijf .first-card__onze-bedrijf .content__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .second-card__onze-bedrijf .content__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .third-card__onze-bedrijf .content__onze-bedrijf {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100%;
  height: 100%;
  border: 2px solid var(--hover-bg);
}
.over-ons__onze-bedrijf .container__onze-bedrijf .first-card__onze-bedrijf .content__onze-bedrijf .header__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .second-card__onze-bedrijf .content__onze-bedrijf .header__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .third-card__onze-bedrijf .content__onze-bedrijf .header__onze-bedrijf {
  display: block;
  background-color: var(--hover-bg);
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}
.over-ons__onze-bedrijf .container__onze-bedrijf .first-card__onze-bedrijf .content__onze-bedrijf .header__onze-bedrijf h1, .over-ons__onze-bedrijf .container__onze-bedrijf .second-card__onze-bedrijf .content__onze-bedrijf .header__onze-bedrijf h1, .over-ons__onze-bedrijf .container__onze-bedrijf .third-card__onze-bedrijf .content__onze-bedrijf .header__onze-bedrijf h1 {
  color: var(--white);
  font-size: 2.5rem;
  font-family: "Days One", sans-serif;
}
.over-ons__onze-bedrijf .container__onze-bedrijf .first-card__onze-bedrijf .content__onze-bedrijf .text__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .second-card__onze-bedrijf .content__onze-bedrijf .text__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .third-card__onze-bedrijf .content__onze-bedrijf .text__onze-bedrijf {
  padding: 2rem;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  text-align: center;
}
.over-ons__onze-bedrijf .container__onze-bedrijf .first-card__onze-bedrijf .content__onze-bedrijf .text__onze-bedrijf p, .over-ons__onze-bedrijf .container__onze-bedrijf .second-card__onze-bedrijf .content__onze-bedrijf .text__onze-bedrijf p, .over-ons__onze-bedrijf .container__onze-bedrijf .third-card__onze-bedrijf .content__onze-bedrijf .text__onze-bedrijf p {
  font-family: "Roboto", sans-serif;
}

.whatsapp-active {
  background-color: var(--hover-text);
}

@keyframes points {
  0%, 100% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.review .cls_review {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.review .alert {
  border-radius: 10px;
}
.review h1 {
  color: var(--white);
  font-size: 2.5rem;
  font-size: 30px;
  font-family: "Days One", sans-serif;
}
.review .container-review {
  background: var(--white);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  height: 100%;
}
.review .container-review i {
  color: var(--guid);
}
.review .container-review .first-comment,
.review .container-review .second-comment,
.review .container-review .third-comment {
  background: var(--hover-bg);
  padding: 2rem;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  animation: 25s moveright ease-out infinite;
}
.review .container-review .first-comment h1,
.review .container-review .second-comment h1,
.review .container-review .third-comment h1 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
.review .container-review .first-comment .basic-information,
.review .container-review .second-comment .basic-information,
.review .container-review .third-comment .basic-information {
  margin: 0 3rem;
  line-height: 1rem;
}
.review .container-review .first-comment .header__comment,
.review .container-review .second-comment .header__comment,
.review .container-review .third-comment .header__comment {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.review .container-review .first-comment .content,
.review .container-review .second-comment .content,
.review .container-review .third-comment .content {
  text-align: center;
  width: 80%;
  margin: 3rem auto;
  font-size: 1.5rem;
}
.review .container-review .first-comment .content p,
.review .container-review .second-comment .content p,
.review .container-review .third-comment .content p {
  text-transform: none;
  font-family: "Roboto", sans-serif;
}
.review .container-review .first-comment span,
.review .container-review .second-comment span,
.review .container-review .third-comment span {
  text-transform: none;
}
.review .container-review .second-comment {
  position: absolute;
  left: 100%;
}
.review .container-review .third-comment {
  position: absolute;
  left: 165%;
}

@keyframes moveright {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-250%);
  }
}
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .over-ons__onze-bedrijf .container__onze-bedrijf .line {
    display: none;
  }
  .over-ons__onze-bedrijf .container__onze-bedrijf .first-card__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .second-card__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .third-card__onze-bedrijf {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    border-bottom: 2px solid var(--hover-bg);
  }
  .over-ons__onze-bedrijf .container__onze-bedrijf .first-card__onze-bedrijf .content__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .second-card__onze-bedrijf .content__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .third-card__onze-bedrijf .content__onze-bedrijf {
    border: unset;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .over-ons__onze-bedrijf .container__onze-bedrijf .line {
    display: none;
  }
  .over-ons__onze-bedrijf .container__onze-bedrijf .first-card__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .second-card__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .third-card__onze-bedrijf {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    border-bottom: 2px solid var(--hover-bg);
  }
  .over-ons__onze-bedrijf .container__onze-bedrijf .first-card__onze-bedrijf .content__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .second-card__onze-bedrijf .content__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .third-card__onze-bedrijf .content__onze-bedrijf {
    border: unset;
  }
}
@media (max-width: 992px) {
  .over-ons__onze-bedrijf .container__onze-bedrijf .first-card__onze-bedrijf .image__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .second-card__onze-bedrijf .image__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .third-card__onze-bedrijf .image__onze-bedrijf {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .over-ons__onze-bedrijf .container__onze-bedrijf .first-card__onze-bedrijf .image__onze-bedrijf img, .over-ons__onze-bedrijf .container__onze-bedrijf .second-card__onze-bedrijf .image__onze-bedrijf img, .over-ons__onze-bedrijf .container__onze-bedrijf .third-card__onze-bedrijf .image__onze-bedrijf img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
  }
}
@media (max-width: 1200px) {
  .over-ons__onze-bedrijf .container__onze-bedrijf .first-card__onze-bedrijf .image__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .second-card__onze-bedrijf .image__onze-bedrijf, .over-ons__onze-bedrijf .container__onze-bedrijf .third-card__onze-bedrijf .image__onze-bedrijf {
    width: 75%;
    height: 75%;
    margin: auto;
  }
  .over-ons__onze-bedrijf .container__onze-bedrijf .first-card__onze-bedrijf .image__onze-bedrijf img, .over-ons__onze-bedrijf .container__onze-bedrijf .second-card__onze-bedrijf .image__onze-bedrijf img, .over-ons__onze-bedrijf .container__onze-bedrijf .third-card__onze-bedrijf .image__onze-bedrijf img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
  }
}
@keyframes items-bewegen {
  0%, 100% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

/*# sourceMappingURL=overons.css.map */
