@import url("https://fonts.googleapis.com/css2?family=Cambay:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
:root {
  --white: #f4fbfd;
  --ligh-blue: #6083d1;
  --donker-blue: #012641;
  --hover-bg: #3175D3;
  --hover-text: #000;
  --guid:#cc9933;
  --grijs:#999999;
  --donker-mode-bg: #111111;
  --donker-mode-color: #fff;
  --cards-background-color: #2F2F2F;
}

.navbar-projecten {
  position: relative;
  padding: 3rem 3%;
  width: 100%;
}

.navbar-projecten-for-cards {
  display: flex;
  background-color: var(--hover-bg);
  align-items: center;
  padding: 1.5rem 1.5rem;
  justify-content: center;
  width: 100%;
  position: relative;
  font-size: 1.5rem;
}
.navbar-projecten-for-cards .start {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.navbar-projecten-for-cards ul {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
}
.navbar-projecten-for-cards ul li {
  padding: 1rem;
  height: 100%;
}
.navbar-projecten-for-cards ul li a {
  font-family: "Days One", sans-serif;
  text-decoration: none;
  font-size: 2rem;
  color: var(--white);
  display: block;
  padding: 1rem;
}
.navbar-projecten-for-cards ul li a:hover {
  background: var(--ligh-blue);
}

@keyframes cards-bewegen {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
#scroll-effect {
  animation: 1s ease-out cards-bewegen;
  display: none;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  margin: 3rem 0;
  width: 100%;
  height: 100%;
  gap: 10rem;
  padding: 3rem;
  background: url("/public/img/cleaning-header-first.jpg") no-repeat center;
  background-size: cover;
  z-index: 2;
}
.cards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  display: block;
  z-index: 1;
}
.cards::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  display: block;
  z-index: 1;
}
.cards .first-card, .cards .second-card, .cards .third-card, .cards .four-card, .cards .five-card, .cards .six-card {
  z-index: 3;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  border-radius: 1rem;
  background: var(--hover-bg);
  color: var(--white);
}
.cards .first-card:hover, .cards .second-card:hover, .cards .third-card:hover, .cards .four-card:hover, .cards .five-card:hover, .cards .six-card:hover {
  background-color: var(--donker-blue);
  cursor: pointer;
}
.cards .first-card .start__cards, .cards .second-card .start__cards, .cards .third-card .start__cards, .cards .four-card .start__cards, .cards .five-card .start__cards, .cards .six-card .start__cards {
  width: 100%;
  height: 25rem;
}
.cards .first-card .start__cards img, .cards .second-card .start__cards img, .cards .third-card .start__cards img, .cards .four-card .start__cards img, .cards .five-card .start__cards img, .cards .six-card .start__cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cards .first-card .header__cards, .cards .second-card .header__cards, .cards .third-card .header__cards, .cards .four-card .header__cards, .cards .five-card .header__cards, .cards .six-card .header__cards {
  padding: 1rem 1rem 0 0;
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.cards .first-card .header__cards span, .cards .second-card .header__cards span, .cards .third-card .header__cards span, .cards .four-card .header__cards span, .cards .five-card .header__cards span, .cards .six-card .header__cards span {
  color: var(--white);
}
.cards .first-card .header__cards strong, .cards .second-card .header__cards strong, .cards .third-card .header__cards strong, .cards .four-card .header__cards strong, .cards .five-card .header__cards strong, .cards .six-card .header__cards strong {
  font-size: 2rem;
  font-family: "Days One", sans-serif;
}
.cards .first-card .content-txt__cards, .cards .second-card .content-txt__cards, .cards .third-card .content-txt__cards, .cards .four-card .content-txt__cards, .cards .five-card .content-txt__cards, .cards .six-card .content-txt__cards {
  padding: 0.5rem;
  font-size: 1.5rem;
}
.cards .first-card .content-txt__cards p, .cards .second-card .content-txt__cards p, .cards .third-card .content-txt__cards p, .cards .four-card .content-txt__cards p, .cards .five-card .content-txt__cards p, .cards .six-card .content-txt__cards p {
  font-family: "Roboto", sans-serif;
}

@media (max-width: 450px) {
  html {
    font-size: 45%;
  }

  .navbar-projecten .navbar-projecten-for-cards ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 2rem;
  }
  .navbar-projecten .navbar-projecten-for-cards ul li {
    padding: 0.5rem 0;
  }

  .navbar-projecten .content__project .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
  .navbar-projecten .content__project .cards .first-card, .navbar-projecten .content__project .cards .third-card, .navbar-projecten .content__project .cards .four-card, .navbar-projecten .content__project .cards .six-card {
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  #scroll-effect {
    animation: 1s ease-out cards-bewegen;
    display: block;
  }

  .navbar-projecten .navbar-projecten-for-cards ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 2rem;
    text-align: unset;
    text-align: center;
  }
  .navbar-projecten .navbar-projecten-for-cards ul li {
    padding: 0.5rem 0;
  }
  .navbar-projecten .navbar-projecten-for-cards ul a {
    font-size: 3rem;
  }

  .content__project .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .content__project .cards .first-card, .content__project .cards .third-card, .content__project .cards .four-card, .content__project .cards .six-card {
    transform: scale(1);
  }
}
@media (min-width: 992px) {
  html {
    font-size: 55%;
  }

  #scroll-effect {
    animation: 1s ease-out cards-bewegen;
    display: none;
  }

  .navbar-projecten .navbar-projecten-for-cards ul {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
  }
  .navbar-projecten .navbar-projecten-for-cards ul li {
    padding-left: 2rem;
  }
}
@media (min-width: 1200px) {
  .navbar-projecten .navbar-projecten-for-cards ul {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
  }
  .navbar-projecten .navbar-projecten-for-cards ul li {
    padding-left: 2rem;
  }
}

/*# sourceMappingURL=projecten.css.map */
